.blog-area {
  padding: 100px 0;
  background-color: #F8F8F8;
}

.blog-area .section-heading {
  margin-bottom: 70px;
}

.blog-text {
  margin-top: 40px;
}

.blog-text p {
  margin-bottom: 40px;
}  

.first-blog  {
  opacity: 0;
  transform: translateY(-200px);
}

.first-blog.element-show {
  opacity: 1;
  transition: all 5s;
  transform: translate(0%);
}

.second-blog  {
  opacity: 0;
  transform: translateY(200px);
}

.second-blog.element-show {
  opacity: 1;
  transition: all 5s;
  transform: translateY(0%);
}

.single-blog {
  padding-right: 80px;
}

.single-blog:hover {
  width: 110%;
}

